<!--<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
    <tr *ngFor="let category of categories">
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
    </tr>
  </thead>
</table>-->


<mat-table [dataSource]="categories" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
    <mat-cell *matCellDef="let category"> {{category.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let category"> {{category.name}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
